/* CSS referente a página dos produtos contendo a desscrição e informações adicionais */

.produto-unico h1, h2, p, ul{
  margin-bottom: 20px;
}

.produto-descricao {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 30px;
}

.produto-descricao img {
  grid-column: 1/3;
  grid-row: 1/6;
  height: max-content;
  background-color: white;
  border: solid 1px #535250;
  border-radius: 16px;
}

.produto-descricao h1 {
  grid-column: 3/6;
  grid-row: 1;
}

.produto-descricao .produto-info {
  grid-column: 3/6;
  grid-row: 2;
}

.produto-descricao p {
text-align: justify;
}

.produto-descricao ul li {
  list-style-type: disc;
}

.preco-compra {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.preco-compra p {
  color: #0E3D59;
  font-weight: 700;
  font-size: 18pt;
  margin: 0;
}

.preco-compra a {
  padding: 10px 15px;
  border: solid 4px #0E3D59;
  color: #0E3D59;
  font-size: 12pt;
  font-weight: 700;
  border-radius: 8px;
}

.preco-compra a:hover {
  border-color: #D9AD7C;
  color: #D9AD7C;
}

@media (max-width: 600px) {
  .produto-descricao {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }

  .produto-descricao img {
    width: 100%;
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 30px;
  }

  .produto-descricao h1 {
  grid-row: 1;
  grid-column: 1;
  }

  .produto-descricao .produto-info {
    grid-row: 3;
    grid-column: 1;
  }
}