/* CSS referente a página dos produtos contendo a desscrição e informações adicionais */

.produto-unico h1, h2, p, ul{
  margin-bottom: 20px;
}

.produto-descricao {
display: flex;
gap: 50px;
margin-bottom: 20px;

}

.produto-descricao img {
  width: 50%;
  max-width: 500px;
  height: max-content;
  background-color: white;
  border: solid 1px #535250;
  border-radius: 16px;
}

.produto-descricao p {
text-align: justify;
}

.produto-descricao ul li {
  list-style-type: disc;
}

.preco-compra {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.preco-compra p {
  color: #0E3D59;
  font-weight: 700;
  font-size: 18pt;
  margin: 0;
}

.preco-compra a {
  padding: 10px 15px;
  border: solid 4px #0E3D59;
  color: #0E3D59;
  font-size: 12pt;
  font-weight: 700;
  border-radius: 8px;
}

.preco-compra a:hover {
  border-color: #D9AD7C;
  color: #D9AD7C;
}