.conteudo-produto {
  display: flex;
}

.menu-categoria {
  width: 20%;
  max-width: 230px;
  min-width: 170px;
}

.menu-categoria h3 {
  margin-bottom: 20px;
}

.filter-select {
  color: #D9AD7C;
  font-weight: 400;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  
}

.grid-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.grid-container h4, img {
  margin-bottom: 5px;
}

.grid-container p {
  margin-bottom: 10px;
}



.grid-container img {
  background-color: white;
  border: solid 1px #535250;
}

.grid-container img:hover {
  filter: opacity(50%);
}

.preco-compra {
  padding: 5px 8px;
  border: solid 2px #0E3D59;
  color: #0E3D59;
  font-size: 10pt;
  font-weight: 600;
}

.preco-compra:hover {
  border-color: #D9AD7C;
  color: #D9AD7C;
}