* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html {
  height: 100%;
}

body {
  background-color: #EBEBEB;
  color: #535250;
  height: 100%;
}

main {
  margin: auto;
  width: 80%;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style-type: none;
  line-height: 2;
}

a {
  text-decoration: none;
  color: #0E3D59;
  font-weight: 500;
}

.cabecalho {
  display: flex;
  height: 300px;

}

.cabecalho img {
  display: flex;
  margin: auto;
  height: 70%;
}

.menu-principal {
  max-width: 80%;
  height: 40px;
  background-color: #8DBAB3;
  margin: 0 auto 20px;

}

.menu-principal ul {
  column-count: 4;
}

.menu-principal ul li {
  line-height: 2.5;
  display: flex;
  justify-content: center;

}

.menu-principal ul li:hover {
  background-color: #D9AD7C;
}


/* Produtos */

.conteudo-produto {
  display: flex;
  
}

.menu-categoria {
  width: 20%;
  max-width: 230px;
  min-width: 170px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  
}


