* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #EBEBEB;
  color: #535250;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
  line-height: 2;
}

.cabecalho {
  
  display: flex;
  height: 300px;

}

.cabecalho img {
  display: flex;
  margin: auto;
  height: 70%;
}

.menu-principal {
  max-width: 60%;
  height: 40px;
  background-color: #8DBAB3;
  margin: 0 auto;
}

.menu-principal ul {
  column-count: 4;
}

.menu-principal ul li {
  line-height: 2.5;
  display: flex;
  justify-content: center;
  
}

.menu-principal ul li:hover {
  background-color: #D9AD7C;
}
