* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html {
  height: 100%;
}

body {
  background-color: #EBEBEB;
  color: #535250;
  height: 100%;
  margin: 0 auto
}

main {
  margin: auto;
  width: 80%;
  max-width: 1500px;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style-type: none;
  line-height: 2;
}
 h1, h2 {
   color: #535250;
 }

 h3, h4 {
   color: #0E3D59;
 }

 h1 {
   font-size: 20pt;
 }

 h2 {
   font-size: 15pt;
 }

 h3 {
   font-size: 13pt;
 }

 h4 {
   font-size: 11pt;
 }

a {
  text-decoration: none;
  color: #0E3D59;
  font-weight: 500;
}

.cabecalho {
  display: flex;
  height: 250px;
}

.cabecalho img {
  display: flex;
  margin: auto;
  height: 70%;
}

.menu-principal {
  width: 80%;
  height: 50px;
  background-color: #8DBAB3;
  margin: 0 auto 50px;
  border-radius: 8px;
  max-width: 1500px;

}

.menu-principal ul {
  column-count: 4;
}

.menu-principal ul li {
  line-height: 50px;
  display: flex;
  justify-content: center;
  color: #0E3D59;
  font-weight: 600;

}

.menu-principal ul li:hover {
  background-color: #D9AD7C;
  border-radius: 8px;
}

footer {
  height: 200px;
  margin-top: 50px;
  background-color: #8DBAB3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

footer section {
  margin: auto;
}

footer section span {
  color: #0E3D59;
}

.form-pagmento h3{
  margin-bottom: 10px;
}

.pag-icon {
  display: flex;
  justify-content: center;
}  

.pag-icon i {
  font-size: 24px;
  margin: 0 10px;
  color: #0E3D59;
}

@media (max-width: 600px) {
  .menu-principal {
   height: auto;
   max-width: 100%;
  }

  .menu-principal ul {
    display: flex;
    flex-direction: column;
    }

  footer {
    grid-template-columns: 1fr;
  }

  .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}